footer {
    height: 70px;
    width: 100%;
    background-color: #0D0D0D;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .music-name {
        display: flex;
        align-items: center;
        gap: 8px;

        position: relative;
        .stroke {
            position: absolute;
            top: -8px;
            left: 18px;
        }
        .ms-name {
            height: 40px;
            cursor: pointer;
        }

        .music-author {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                align-items: center;
                gap: 18px;
                b {
                    font-size: 12px;
                    color: #1ED760;
                    cursor: pointer;
                }

                img {
                    cursor: pointer;
                }
            }

            p {
                font-size: 10px;
                color: #F2F2F2;
                cursor: pointer;
            }
        }

    }
    .music-play {
        position: relative;
        .play {
            display: flex;
            align-items: center;
            gap: 20px;

            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%, -50%);
            img {
                cursor: pointer;
            }
        }
        .secunds {
            display: flex;
            align-items: center;
            position: absolute;
            gap: 10px;
            color: #F2F2F2;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, -20%);
            p {
                font-size: 12px;
            }
            div {
                position: relative;
                width: 450px;
                border-radius: 2px;
                height: 4px;
                background-color: #4B4B4B;
                cursor: pointer;

                span {
                    position: absolute;
                    top: -10%;
                    left: 0;
                    border-radius: 2px;
                    cursor: pointer;
                    width: 40%;
                    height: 6px;
                    background-color: #1ED760;
                }
            }

        }
    }

    .music-screen {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;

        img {
            cursor: pointer;
        }
    }
}