.main-container {
    height: 580px;
    width: 100%;

    display: flex;
}

.aside-left{
    position: relative;
    background-color: #030303;
    width: 185px;
    height: 100%;

    padding: 15px 15px 0 15px;

    .profile {
        display: flex;
        align-items: center;
        p {
            margin: 0 18px 0 10px;
            color: #F2F2F2;
            font-size: 12px;
            line-height: 15px;
            font-weight: 700;
        }
    }

    nav {
        margin-top: 10px;
        padding: 15px 0;
        border-bottom: 1px solid #F2F2F2;
        border-top: 1px solid #F2F2F2;
        b {
            color: #F2F2F2;
            display: block;
            padding-bottom: 10px;
            font-size: 12px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            list-style: none;
            li {
                &:hover {
                    border-right: 3px solid #1ED760;
                }
                a {
                    text-decoration: none;
                    color: #999999;
                    font-size: 13px;
                    font-weight: 700;
                }
            }
        }
    }

    .content {
        margin-top: 10px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style: none;
            li {
                &:hover {
                    border-right: 3px solid #1ED760;
                }
                a {
                    text-decoration: none;
                    color: #999999;
                    font-size: 13px;
                    font-weight: normal;
                }
            }
        }
    }
    .queue {
        position: absolute;
        padding: 7px;
        bottom: 0;
        left: 0;
        color: white;

        background: #0D0D0D;
        border-radius: 7px 7px 0px 0px;
        width: 100%;
        
        h4 {
            font-size: 12px;
            color: #1ED760;
        }
        b {
            font-size: 9px;
        }
        p {
            font-size: 7px;
            margin-bottom: 7px;
        }
    }
}

main {
    width: 1113px;
    background-color: #020A05;
    padding: 20px;

    header {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .next-box {
            display: flex;
            gap: 22px;

            img {
                &:last-child {
                    transform: rotateY(-180deg);
                }
            }
        }

        .search-box {
            display: flex;
            align-items: center; 
            gap: 45px;
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-weight: 700;
                font-size: 14px;
                color: #1ED760;
                gap: 9px;
            }

            .input {
                display: flex;
                align-items: center;
                gap: 9px;

                input {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-size: 14px;
                    color: white;

                    &::placeholder {
                        font-weight: 700;
                        color: #9999;
                        font-size: 14px;

                    }
                }
            }
        }
    }
}

.aside-right {
    position: relative;
    width: 69px;
    height: 100%;
    background-color: #030303;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    img {
        &:first-child {
            margin-left: 10px;
            margin-bottom: 15px;
            width: 30px;
        }
        &:nth-child(2) {
            width: 7px;
            position: absolute;
            top: 25px;
            left: -12px;
        }
        width: 47px;
    }
}